<div id="admin">
	<div class="container" style="margin: 100px auto;">
	  <div class="row">
	    <div class="span12">
			<h1 class="admin-title">Admin Site</h1>
			<br>
         <ul id="myTab" class="nav nav-tabs">
           <li class="active">
             <a href="#panel-info" data-toggle="tab">Informacion General</a></li>
           <li>
             <a href="#panel-servicios" data-toggle="tab">Servicios</a></li>
           <li>
             <a href="#panel-nosotros" data-toggle="tab">Nosotros</a></li>
           <li>
             <a href="#panel-links" data-toggle="tab">Links</a></li>
         </ul>
         <div id="myTabContent" class="tab-content">
           <div class="tab-pane fade in active" id="panel-info">
             <%= render 'site/admin_info' %>
           </div>
           <div class="tab-pane fade" id="panel-servicios">
             <%= render 'site/admin_servicios' %>
           </div>
           <div class="tab-pane fade" id="panel-nosotros">
             <%= render 'site/admin_nosotros' %>
           </div>
           <div class="tab-pane fade" id="panel-links">
             <%= render 'site/admin_links' %>
           </div>
         </div>
	    </div>
	  </div>
	</div>
</div>