<section id="services">
   <div class="container">
     <div class="row">
      	<% @services.each_with_index do |service, index| %>
      	<article id="servicio-<%= index %>">
      		<h3><%= service.title %></h3><i class="icon-check icon-2x"></i>
      		<p><%= service.header %>
      		<p><%= service.body.html_safe %>
      	</article>
      	<% end %>
      </div>
   </div>
</section>