<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>,</h1>
    <h3>C&C Asociados le agradece el contacto.</h3>
    <p>Su consulta está siendo procesada y será contactado a la brevedad.</p>
    <br>
    <p>Cordialmente</p>
    <p><b>C&C Asociados</b></p>
    <a href="http://www.cycestudiocontable.com.ar">www.cycestudiocontable.com.ar</a>
  </body>
</html>