$color1: #158CCF;

#contacto{
	background:#DFE5E8;
	.contacto{background:#81929C;}
	.cont-contacto{
		max-width:1200px;
		margin:auto;
		#mapa,#formulario{display:inline-block;}
		#mapa{
			float:left;
			padding: 1em;
			margin-top: 6em;
			iframe{box-shadow:0px 0px 10px #000;}
		}
		#formulario{
			width: 35em;
			padding-top:1em;
			font-family: "Merriweather";
			h3{
				color:#eee;
				font-size: 1.2rem;
				padding-bottom:2em;
			}
			.linea{
				display:block;
				margin: 1.5em 3em;
				text-align: left;
				line-height: 2em;
				input,label,textarea{display:inline-block;}
				input,textarea{
					float:right;
					width: 27em;
					height: 2em;
					background:#EEE;
					box-shadow:0px 0px 5px #000;
					border-radius:5px;
					font-weight: bold;
				}
				textarea{min-height:15em;}
				label{
					color: #fff;
					font-size: 1.15rem;
					text-shadow: 0px 0px 10px #000;
				}
				input[type="submit"]{
					margin: 2em 0em;
					background:$color1;
					color:#eee;
					height: 2.5em;
					font-weight: bold;
				}
			}
		}
	}
	.iconos{
		width: 100%;
		height: auto;
    text-align: center;
    background:#31363A;
    padding-top:5em;
    .informacion{
    	width: 50em;
    	margin:auto;
    	color: #626c72;
    	padding-bottom:2em;
    	border-bottom:1px solid #626c72;
    	word-spacing: 0.2em;
    	a{
    		color: #626c72;
    		padding-left:0.8em;
    		-webkit-transition: all 0.3s ease-in;
    		-moz-transition: all 0.3s ease-in;
    		-o-transition: all 0.3s ease-in;
    	}
    	a:hover{color:$color1;}
    }
    ul{
    	margin:auto;
    	width: 30%;
    	padding-top:2em;
    	padding-bottom:5em;
    	li{
    		display:inline-block;
    		margin:0.1em;
    		font-size: 3rem;
    		.icon-twitter{font-size:2.5rem;}
    		i{
    			color:$color1;
    			-webkit-transition: all 0.3s ease-in;
    			-moz-transition: all 0.3s ease-in;
    			-o-transition: all 0.3s ease-in;
    		}
    		i:hover{color:#fff;}
    	}
    }
	}
}