#links{
	.links{
		background:#DFE5E8;}
	h2{
		
		font-size: 2rem;
		font-family: "Merriweather";
		word-spacing: 0.2em;
		letter-spacing: 0.07em;
		color: #FFF;
		text-shadow:1px 1px 3px #000;
		padding-top: 1em;
		max-width: 1200px;
		margin:auto;
	}
	ul{
		margin:auto;
		margin-top: 2em;
		max-width: 1200px;
		li{
			position: relative;
			display: inline-block;
			width: 200px;
			height: 150px;
			box-shadow: 2px 2px 5px #555;
			margin:3%;
			background: #fff;
			overflow: hidden;
			img{
				width:100%;
				height: auto;
				margin: 0 auto;
			}
			&:hover #texto{display:block;}
		}
	}
	#texto{
		display: none;
		position: absolute;
		bottom: 0;
		z-index: 30;
		background:rgba(21,140,207,0.9);
		width: 100%;
		height: 100%;
		-webkit-animation: AnimacionTexto 0.5s ease;
		-moz-animation: AnimacionTexto 0.5s ease;
		-o-animation: AnimacionTexto 0.5s ease;
		h3{
			color: #fff;
			font-size: 1.25rem;
			margin-top: 35px;
			font-family: "Merriweather";
		}
	}
}

@-webkit-keyframes AnimacionTexto {
	from { -webkit-transform:translate(-200px,0px);}
	to { -webkit-transform:translate(0px,0px);}
}
@-moz-keyframes AnimacionTexto {
	from { -moz-transform:translate(-200px,0px);}
	to { -moz-transform:translate(0px,0px);}
}
@-o-keyframes AnimacionTexto {
	from { -o-transform:translate(-200px,0px);}
	to { -o-transform:translate(0px,0px);}
}