$azul:#0091BE;

#servicios{
	background:#F2F2F2;
	margin:auto;
	padding-bottom:50px;
	h2{
		color: #eee;
		text-shadow: 1px 1px 0px #888;
		font-weight: bold;
		font-size: 50px;
		text-align: center;
	}
	article{
		padding-top: 110px;
		h3{
			display: inline-block;
			color: #3973a0;
			font-weight: 400;
			font-size: 50px;
			margin: 0;
			margin-bottom: 30px;
			line-height: 50px;
		}
		i{
			display: inline-block;
			margin-left: 12px;
			margin-top: -25px;
			color: $azul;
		}
		p,li{
			color: #41464A;
			font-size: 23px;
			line-height: 30px;
			font-weight: 400;
			font-family: 'Open Sans', sans-serif;
		}
		li{
			margin:1em 0;
			list-style-type: circle;
		}
	}
}