$azul:#0091BE;

#services{
	margin:auto;
	h2{
		color: #eee;
		text-shadow: 1px 1px 0px #888;
		font-weight: bold;
		font-size: 50px;
		text-align: center;
	}
	article{
		padding: 2em 0;
		border-bottom: 2px dashed #ddd;
		h3{
			display: inline-block;
			color: #3973a0;
			font-weight: 400;
			font-size: 50px;
			margin: 50px;
			margin-left: 0;
			line-height: 50px;
		}
		p{
			color: #21262A;
			font-size: 19px;
			line-height: 24px;
			font-weight: 300;
			font-family: 'Open Sans', sans-serif;
		}
		i{
			display: inline-block;
			margin-left: 12px;
			margin-top: -25px;
			color: $azul;
		}
		li{
			font-family: 'Open Sans', sans-serif;
			font-size: 18px;
			line-height: 26px;
			font-weight: 300;
			color: #21262A;
			margin:1em 0;
			list-style-type: circle;
		}
	}
	#societarios{border:none;}
}