$color1: #158CCF;

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style:none;
}

body{
	background: #FAFAFA;
	font-family:Helvetica,Arial,sans-serif;
	text-align:center;
	height:100%;
	width:100%;
	margin:auto;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background: $color1;
	height: 6em;

	#logo,ul{display:inline-block;}

	#logo{
		text-align: center;
		width: 30%;
		img{
			margin-top: 2em;
			max-width: 70%;
			height: auto;
			vertical-align: middle;
		}
	}
	ul{
		width: 65%;
		text-align: center;
		float: right;
		line-height: 6em;
		a li{
			display: inline-block;
			padding: 0px 15px;
			color: #fff;
			font-size: 0.95rem;
			font-weight: bold;
			-webkit-transition: all 0.3s ease-in;
			-moz-transition: all 0.3s ease-in;
			-o-transition: all 0.3s ease-in;
			&:hover{
				color: #000;
			}
		}
	}
}


section{
	padding-top:6em;
}



/*  -- BORRAR --   */
#home,#nosotros{height:40em;}
/*  -- BORRAR --   */




/*   ----- FOOTER -----   */

footer{
	background:#191C1F;
	height:3em;
	line-height:3em;
	color:#A5B2B9;
	word-spacing:0.3em;
	a{
		font-family:"Audiowide";
		color:#A5B2B9;
		font-size: 1.2rem;
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		-o-transition: all 0.3s ease-in;
	}
	a:hover{color:$color1;}
}