doctype
html
  head
    title Webestudio
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    link href="http://fonts.googleapis.com/css?family=Audiowide|Cabin+Condensed|Merriweather" rel="stylesheet" type="text/css"
      script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
      /! Plugin para dar mas efecto a nuestro scroll
      script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"
      /! Importamos nuestro script
      script src="script.js"
      javascript:
      	$(document).ready(function(){
      		$('a[href*=#]').click(function() {
      	      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
      	      && location.hostname == this.hostname) {
      	        var $target = $(this.hash);
      	        $target = $target.length && $target
      	        || $('[name=' + this.hash.slice(1) +']');
      	        if ($target.length) {
      	          var targetOffset = $target.offset().top;
      	          $('html,body')
      	          .stop().animate({scrollTop: targetOffset}, 300, 'jswing');
      	         return false;
      	        }
      	      }
      	  });
        });
    body
    = yield

    javascript:
      $(".btn-consultoria,.btn-contable,.btn-tributario,.btn-auditoria,.btn-laboral,.btn-societario").on("click", function(){
        $(".info").css({"display":"none"});
        if($(this).hasClass("btn-consultoria")){ target = $("#consultoria"); }
        if($(this).hasClass("btn-contable")){ target = $("#contable"); }
        if($(this).hasClass("btn-tributario")){ target = $("#tributario"); }
        if($(this).hasClass("btn-auditoria")){ target = $("#auditoria"); }
        if($(this).hasClass("btn-laboral")){ target = $("#laboral"); }
        if($(this).hasClass("btn-societario")){ target = $("#societario"); }
        target.css({"display":"inline-block"})
      })